<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">VES</h1>
        </div>
        <h3>Welcome to VES</h3>
        <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.<!--Continually expanded and constantly improved Inspinia Admin Them (IN+)--></p>
        <p>Login in. To see it in action.</p>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "m-t") do |f| %>
          <div class="form-group">
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Username", required: '' %>
          </div>

          <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", required: "" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-group">
                <div class="checkbox i-checks">
                    <label>
                        <%= f.check_box :remember_me, class: "form-control" %>
                        Remember me
                    </label>
                </div>
            </div>
          <% end %>
          <%= f.submit "Login", class: "btn btn-primary block full-width m-b" %>

          <%= link_to new_user_password_path do %>
            <small>Forgot password?</small>
          <% end %>

          <p class="text-muted text-center">
              <small>Do not have an account?</small>
          </p>
          <%= link_to "Create an account", new_user_registration_path, class: "btn btn-sm btn-white btn-block" %>
        <% end %>
    </div>
</div>
