<p id="notice"><%= notice %></p>

<%= link_to 'New Product', new_product_path %>

<div class="grid">
  <% @products.each do |product| %>
    <div class="grid-item">
        <div class="ibox">
            <div class="ibox-content product-box">
                <div class="product-imitation">
                    [ IMAGE HERE ]
                </div>
                <div class="product-desc">
                    <span class="product-price">₱ <%= number_with_precision(product.price, :precision => 2, :delimiter => ',') %></span>
                    <small class="text-muted"><%= product.category.name %></small>
                    <%= link_to product.name, product, class: 'product-name' %>
                    <div class="small m-t-xs"><%= product.user.name %></div>
                    <div class="m-t text-righ">
                        <a href="#" class="btn btn-xs btn-outline btn-primary"><%= product.condition.name %> </a>
                        <a href="#" class="btn btn-xs btn-outline btn-primary"><%= product.region.name %> </a>
                        <a href="#" class="btn btn-xs btn-outline btn-primary"><%= product.province.name %> </a>
                        <a href="#" class="btn btn-xs btn-outline btn-primary"><%= product.municipality.name %> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div>

<style>
    .grid .ibox {
    margin-bottom: 0;
    }
    .grid-item {
    margin-bottom: 10px;
    width: 260px;
    }
</style>

<script>
    $(document).on("turbolinks:load", function () {
        $('.grid').masonry({
            // options
            itemSelector: '.grid-item',
            columnWidth: 260,
            gutter: <%= current_user.nil? ? 15 : 30 %>
        });
    });
</script>
