<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  ₱ <%= number_with_precision(@product.price, :precision => 2, :delimiter => ',') %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Ad type:</strong>
  <%= @product.ad_type.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status.name %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @product.condition.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user.fullname %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
