<!DOCTYPE html>
<html>
  <head>
    <title>Swap</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body class="<%= current_user.nil? ? "mini-navbar fixed-sidebar fixed-nav" : "fixed-sidebar fixed-nav" %>"> 
        <div id="wrapper"> 
			<%= render "layouts/left_sidebar" %>        
            <div id="page-wrapper" class="gray-bg"> 
                <div class="row border-bottom"> 
                    <%= render "layouts/topbar" %>              
                </div>            
                <div class="wrapper wrapper-content animated fadeInDown">
                    <div class="row">
    					<% flash.each do |key, value| %>
    						<div class="alert alert-info"><%= value %></div>
    					<% end %>

    				    <%= yield %>
                    </div>
                </div>
				<%= render "layouts/footer" %>
            </div>
            <%= render "layouts/right_sidebar" %>
        </div>
    </body>
</html>
